/*--- GENERAL SETTINGS ---*/

* {
    font-family: Avenir, Verdana, sans-serif;
    font-size: 14pt;
    margin: 0;
    padding: 0;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    color: #272727;
    background-color: #cccccc;
    line-height: 150%;
}

#main {
    width: 90%;
    min-width: 700px;
    padding: 10px 40px 40px;
}

main {
    width: 90%;
    margin: 175px auto;
    min-width: 700px;
    padding-bottom: 50px;
}

h1 {
    color: #0B9CB5;
    font-size: 200%;
    font-weight: normal;
    margin: 40px 0 15px;
}

h2 {
    color: #27536E;
    margin-top: 15px;
}

h3 {
    color: white;
}

p {
    margin: 5px 0;
}

.conWorks a {
    color: white;
    text-decoration: none;
    line-height: 150%;
}

.conWorks li {
    list-style-type: none;
    color: white;
}

.recRes {
    background-color: white;
    padding: 20px;
    margin: 20px 10px 40px;
    position: relative;
}

.recRes h3 {
    background-color: #27536E;
    font-weight: normal;
    font-size: 110%;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
    top: -24px;
}

.recRes a {
    color: #272727;
    text-decoration: none;
    line-height: 150%;
}

.recRes a:hover,
a[href^="#"]:hover {
    color: #0B9CB5;
}

.conWorks a:hover,
a[href^="#"]:hover {
    color: #0B9CB5;
}

.recRes a:hover::before,
a[href^="#"]:hover::before {
    content: "> ";
}

.conWorks a:hover::before,
a[href^="#"]:hover::before {
    content: "> ";
}

.recRes li {
    list-style-type: none;
}

a[href^="#"] {
    color: #2296cf;
    text-decoration: none;
    font-weight: normal;
    line-height: 200%;
}

blockquote {
    font-size: 120%;
    font-style: italic;
    font-weight: normal;
    padding: 10px 20px;
    border-left: 2px solid #0B9CB5;
    border-right: 2px solid #0B9CB5;
}


/*--- END GENERAL SETTINGS ---*/


/*--- HEADER/FOOTER SETTINGS ---*/

header,
footer {
    background-color: black;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    min-width: 1000px;
    z-index: 4;
}

header>h1 {
    padding-left: 20px;
}

header>h2 {
    padding-left: 25px;
}

nav {
    position: absolute;
    bottom: 10px;
    right: 25px;
}

nav li {
    display: inline-block;
    padding-right: 10px;
}

nav a {
    color: white;
    font-size: 90%;
    text-decoration: none;
}

nav a:hover {
    color: #0B9CB5;
}

footer a {
    color: #0B9CB5;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer {
    text-align: center;
    padding: 20px 0;
}

footer li {
    display: inline-block;
    font-size: 85%;
    margin: 10px 20px;
}


/*--- END HEADER/FOOTER SETTINGS ---*/


/*--- INDEX PAGE SETTINGS ---*/

#padlet {
    height: 500px;
    background-size: cover;
}

#indexQuote {
    float: left;
    margin: 90px 20px 0 -200px;
    /* padding: 90px 20px 0px; */
}

#indexText {
    background-color: #cccccc;
}

#padText {
    /* width: 50%; */
    float: left;
    margin: -15px 20px;
}

#padText>h1 {
    /* text-shadow: 2px 2px #272727;
    font-size: 250%;
    margin: 0 0 50px 25px; */
    font-weight: bold;
    font-size: 200%;
    color: #27536E;
}

#padText>a {
    text-decoration: none;
    font-size: 110%;
    font-weight: bold;
    color: white;
    background-color: #27536E;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    float: right;
    margin: -48px -260px;
    /* padding: 10px 15px;
    float: left;
    margin: 50px 0 25px 125px; */
}

#problemText {
    width: 90%;
    float: left;
    padding: 10px 40px;
}

#problemText>p {
    padding: 5px 5px 10px 5px;
}

#problemText>a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #0B9CB5;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
    /* margin: 10px 20px; */
}

#mattersText {
    width: 90%;
    float: left;
    padding: 10px 40px;
}

#mattersText>p {
    padding: 5px 5px 10px 5px;
}

#mattersText>a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #0B9CB5;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
    /* margin: 10px 20px; */
}

#youText {
    width: 90%;
    float: left;
    padding: 10px 40px 100px;
}

#youText>p {
    padding: 5px 5px 10px 5px;
}

#youText>a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #0B9CB5;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
    /* margin: 10px 20px; */
}


/*--- END INDEX PAGE SETTINGS ---*/


/*--- THE PROBLEM PAGE SETTINGS ---*/

#problemPadlet {
    height: 500px;
    background-size: cover;
}


/* #whatsTheProblem {
    margin: 
} */


/*--- END THE PROBLEM PAGE SETTINGS---*/


/*--- RESOURCES PAGE SETTINGS ---*/

.rBox {
    background-color: white;
    padding: 20px;
    margin: 20px 10px 40px;
    /* width: 80%;
    max-width: 700px; */
    position: relative;
}

.rBox h3 {
    background-color: #27536E;
    font-weight: normal;
    font-size: 110%;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
    top: -24px;
}

.rBox a {
    color: #272727;
    text-decoration: none;
    line-height: 150%;
}

.rBox a:hover,
a[href^="#"]:hover {
    color: #0B9CB5;
}

.rBox a:hover::before,
a[href^="#"]:hover::before {
    content: "> ";
}

.rBox li {
    list-style-type: none;
}

a[href^="#"] {
    color: #2296cf;
    text-decoration: none;
    font-weight: normal;
    line-height: 200%;
}


/*--- END RESOURCES PAGE SETTINGS ---*/